<%- include('./partials/header.ejs') %>

<h1>Welcome to MovieStar</h1>

<p>MovieStar is a website where you can post movies, write comments, and rate movies out of 5 stars. Check out the features below:</p>

<h2>Features</h2>
<ul class="feature-list">
  <li>Add new movies with a title, comment, and star rating</li>
  <li>View a list of all movies with reviews</li>
  <li>Add reviews to existing movies, including star ratings</li>
  <li>Users can delete only their own reviews</li>
</ul>

<h2>Get Started by Singing up / Logining in</h2>

<%- include('./partials/footer.ejs') %>
